html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  main {
    display: flex;
  }
  main > div {
    margin: 0px 25px;
  }

  .container {
    height: 100vh;
    width: 100vw;
    position: relative;
    border: 3px solid rgb(88, 92, 88);
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }